{% extends "books/base.html" %}
{% load static %}
{% block title %}
    Book List
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'books/books.css' %}">
    <!-- <script src="{% static 'books/index.js' %}"></script> -->
{% endblock %}

{% block body %}
    <h1>{{ user }}'s Book List</h1>
    <form id="filter-form">
        Filter by Author:
        <select name="filter-author" class="custom-select mb-3">
            <option value="all"></option>
            {% for author in authors %}
                <option value="{{ author }}">{{ author }}</option>
            {% endfor %}
        </select><br>
        Filter by Genre:
        <select name="filter-genre" class="custom-select mb-3">
            <option value="all"></option>
            {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>        
    </form>    
    <ul id="booklist">
        {% for book in books %}
            <li>
                {{ book }}
            </li>
        {% endfor %}
    </ul>
    <div id="button-container">
        <form action="{% url 'create' %}">
            <button id="addBook" type="submit" class="btn btn-outline-primary">Add Book(s)</button>
        </form>
        <form action="{% url 'delete' %}">
            <button id="deleteBook" type="submit"  class="btn btn-outline-danger">Remove Book(s)</button>
        </form>
        <form action="{% url 'update' %}">
            <button id="updateBook" type="submit"  class="btn btn-outline-secondary">Update Book(s) Details</button>
        </form>
    </div>
    <br>
    <form action="{% url 'home' %}">
        <button id="button-logout" type="submit" class="btn btn-dark">Logout</button>
    </form>
{% endblock %}